* {
    margin: 0;
}

html{
    font-family: 'Nunito', sans-serif;
}

body{
    height: 1vh;
    padding: 3% 10%;
    background-color: #FAFAFA;
}

header{
    height: auto;
}

a {
    text-decoration: none;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav h1{
    font-size: 1.2rem;
    font-weight: 4600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav h1 a {
    color: #000;
}

nav ul{
    list-style: none;
    font-size: .8rem;
    display: flex;
    align-items: center;
}

nav ul li{
    margin-left: 35px;
    font-weight: 700;
}

nav ul li a {
    color: rgb(191, 191, 191);
}

nav ul li a:hover {
    color: rgb(36, 36, 36);
}

main div.section{
    display: flex;
    justify-content: center;
}

main div.section h3{
    font-size: 2rem;
    font-weight: 800;
    padding: 0 20% 5%;
    text-align: center;
}

main div#home{
    font-size: 1.8rem;
    line-height: 1.7;
    padding: 13% 7%;
}

main div#work{
    flex-wrap: wrap;
    height: auto;
    width: 100%;
}

main div#work .work-item{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    width: 50%;
    height: 400px;
}

main div#work .project1{
    background-color: #EE6C4D;
}

main div#work .project2{
    background-color: #E0FBFC;
}

main div#work .project3{
    background-color: #98C1D9;
}

main div#work .project4{
    background-color: #3D5A80;
}

main div#resume{
    padding: 13% 0;
    height: 1vh;
    background-color: burlywood;
    flex-direction: column;
    text-align: center;
}

main div#about{
    padding: 13% 0;
    width: 100%;
    height: auto;
    border: 1px red solid;
    display: flex;
    flex-wrap: wrap;
} 

main div#about .about-item h4 {
    font-size: 1.5rem;
    padding: 0 0 7%;
    text-align: center;
}

main div#about .about-item p {
    line-height: 1.8;
    color: rgb(191, 191, 191);
}

main div#about .item-l{
    width: 100%;
    height: 100px;
    border: 1px red solid;
}

main div#about .item-c{
    background-color: rgb(55, 0, 255);
    border: 1px red solid;
    width: 40%;
    height: 750px;
    padding: 0 8%;
}

footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3% 0;
}

footer a{
    color: rgb(191, 191, 191);
}